diversity.ssu
clust.ssu
clust.ssu.sub
clust.ssu.sub.clu
diversity_cc.ssu
test/*
!test/test_data
*.swp
analysis-in-paper
SSUsearch_db/
analysis_in_paper/
notebooks/.ipynb_checkpoints
notebooks-pc-linux/.ipynb_checkpoints
*.tgz
test.COMMANDS
.snakemake
SSUsearch_db.save
